<div class="mt-4">
    <div class="row">
        <div class = "col-lg-12">
            <h1>{{course.name}}</h1>
            <iframe class="col-lg-12" height="530" src="https://www.youtube.com/embed/{{course.videoid}}" title="Canon 7D đã từng là một vị vua - vậy giờ thì thế nào ? - Máy ảnh cũ Hà Nội" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>{{course.description}}</p>
        </div>
    </div>
</div>