<div class="card">
    <div  style="text-align: center;">
        <div class="card-header">
            Trích
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>Bức ảnh mà bạn chụp bằng máy ảnh là sự tưởng tượng mà bạn muốn tạo ra với thực tế.</p>
                <footer class="blockquote-footer">Scott Lorenzo <cite title="Source Title"></cite></footer>
            </blockquote>
        </div>
    </div>
</div>